.browse-topic-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 5rem;
  padding: 2rem;
  background-color: #f4f4f3;
}
.browse-topic-title {
  font-weight: bold;
  text-align: center;
  color: black;
  font-size: 22px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 1rem;
}
