.saved-resource-container {
    margin-top: 2rem;
    background-color: #fff;
    padding: 2rem 1rem;
    h4 {
        font-weight: 700;
        margin-bottom: 1.5rem;
    }
    .folder-container {   
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .ic-right-arrow {
        display: block;
        background-image: url('../../resources/icons/icon-next.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 0.9rem;
        height: 0.9rem;
        margin: 0.4rem 0 0.5rem 0.5rem;
    }
    .see-all {
        margin-top: 1rem;
        button {
            display: flex;
            text-align: center;
            background: transparent;
            border: none;
            font-size: 0.95rem;
            font-weight: 700;
            text-decoration: underline;
            &:focus {
                outline: none;
            }
        }
    }
    .recent-data-container {
        margin-top: 1rem;
        display: flex;
        padding: 0 7rem;
    }
    hr {
        margin: 2rem -1rem;
    }
    .footer-section {
        text-align: center;
        background-color: #0d3f5e;
        color: #fff;
        padding: 1rem;
        .contact-options {
            display: flex;
            justify-content: space-around;
            padding: 1rem 5rem;
        }
    }
}

.resource-card-container {
    display: flex;
    flex-wrap: wrap;
    > * {
        flex: 0 0 31%;
        margin: 0.5rem 0.5rem;
    }
}