.folder-item {
    padding: 1.5rem 3.5rem;
    background-color: #E9E9E7;
    text-align: center;
    margin: 0.5rem 0;
}
.folder-name {   
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: underline;
}