@import '../../resources/mixins/flexbox';

.user-name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    p {   
        padding: 0 1rem 0 0;
        font-size: 32px;
        font-weight: bold;
        font-style: normal;
        color: #0D3F5E;
        margin: 0.25rem 0;
    }
    button {
        margin: 0.25rem 0 0;
        height: 2rem;
        width: 13rem;
        border-radius: 16px;
        border-color: #0D3F5E;
        background: transparent;
        padding: 5px 30px;
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
        &:focus {
            outline: none;
        }
        .ic-edit {
            display: block;
            height: 15px;
            width: 15px;
            background: url('../../resources/icons/edit-icon.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}