@import '../../resources/mixins/flexbox';

.user-name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding: 1rem 2rem 1rem 2rem;
    @include justify-content(space-between);
    .user-name, .user-actions {
        @include flexbox();
        @include align-items(center);
    }
    p {   
        padding: 0 1rem 0 0;
        font-size: 32px;
        font-weight: bold;
        font-style: normal;
        color: #0D3F5E;
        margin: 0.25rem 0;
    }
    .edit-home-feed {
        margin: 0.25rem 0 0;
        height: 2rem;
        width: 13rem;
        border-radius: 16px;
        border-color: #0D3F5E;
        background: transparent;
        padding: 5px 30px;
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
        &:focus {
            outline: none;
        }
        .ic-edit {
            display: block;
            height: 15px;
            width: 15px;
            background: url('../../resources/icons/edit-icon.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    .custom-dropdown {
        margin-left: 1rem;
        width: 8rem;
        .custom-dropdown-select {
            padding-left: 0;
            padding-right: 0; 
        }
    }
}